@import "tailwindcss";

/* Custom scrollbar for messages container */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background: var(--c-bg-default);
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--c-accent);
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--c-accent-hover);
}

/* Font sizes utility classes */
.font-small {
    font-size: 0.7rem;
}

.font-small-plus {
    font-size: 0.8rem;
}

.font-medium {
    font-size: 1rem;
}

.font-large {
    font-size: 1.2rem;
}

.font-h {
    font-weight: 600;
    font-size: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


html {
    font-size: 16px;
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--c-bg-default);
    color: var(--c-text-primary);
}